div.outside {
  width: 800px;
  margin: auto;
}

div.container {
  background-color: gray;
  position: relative;
  height: 500px;
  margin: 10px;
  padding-top: 40px;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: #F2F2F2;
  box-shadow: 0 0 8px #888888;
  border: 1px solid black;
}

div.cancel {
  position: absolute;
  top: -5px;
  right: 0;
  width: 30px;
  height: 36px;
  color: black;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

div.title {
  position: absolute;
  height: 50px;
  width: 600px;
  font-size: 30px;
  top: 50px;
  left: 90px;
  border: 2px solid #FFBF00;
  border-radius: 10px;
  text-align: center;
}

div.content {
  position: absolute;
  height: 200px;
  width: 600px;
  font-size: 20px;
  left: 90px;
  top: 130px;
  overflow-y: scroll;
  border: 2px solid #FFBF00;
  border-radius: 10px;
}

div.writer {
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 12px;
  left: 90px;
  top: 340px;
}

div.createdDate {
  position: absolute;
  height: 50px;
  width: 300px;
  font-size: 12px;
  left: 90px;
  top: 360px;
}

div.commentContainer {
  position: absolute;
  width: 600px;
  font-size: 20px;
  left: 90px;
  top: 380px;
  border: 2px solid #FFBF00;
  border-radius: 10px;
}

form.writeComment {
  margin: 5px 5px -10px 5px;
  height: 50px;
  font-size: 16px;
}

input.commentInput {
  display: inline-block;
  height: 30px;
  width: 65%;
  font-size: 20px;
  margin-left: 15px;
}

input.commentInputSubmit {
  display: inline-block;
  height: 30px;
  width: 25%;
  font-size: 17px;
  margin-left: 20px;
}

input.dummy {
  position: absolute;
  visibility: hidden;
}

div.comment {
  min-height: 70px;
  width: 95%;
  margin: 5px 0 12px 12px;
  border: 2px solid #FFBF00;
  border-radius: 10px;
}

div.commentContent {
  margin: 10px 0 0 10px;
  width: 95%;
  font-size: 18px;
}

div.commentWriter {
  margin: 25px 0 5px 10px;
  font-size: 12px;
}

div.commentCreatedDate {
  margin: 5px 0 5px 10px;
  font-size: 12px;
}